.link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  color: brown;
  font-size: 25px;
}

.active {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  color: #e46612;
  font-size: 25px;
}
