.titleHome {
  text-align: center;
  font-size: 30px;
}

.ReviewList {
  padding: 10px 20px;
  list-style-type: none;
}

.Author {
  font-weight: 600;
  font-size: 20px;
}

.Review {
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: 0.03em;
}
.Person {
  display: flex;
}

.Person:not(:last-child) {
  margin-bottom: 30px;
}

.Info {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.Name {
  font-weight: 700;
  font-size: 20px;
}
